.cor-menu{
	background-color: #ffdb15;
	border: 1px solid #ffdb15;
}
img.logo{
	max-width: 8%;
	float: left;
}

.ajuste{
	max-width: 92%;
	float: right;
	padding-top: 11px;
}
.cor{
	color: #999999;
}
.lista{
	width: 100%;
	background-color: #fff;
	margin-top: 60px;
	padding: 18px;
	position: relative;
}
.aborda{
	border-top: 1px solid #ccc; 
}
.titulo{
	display: inline-block;
	padding-right: 20px;
}
.tratar{
	position: relative;
	text-indent: 110px;
	
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px!important;
	top:-44px;
}
.imagem{
	margin-top: 5px;
	margin-right: 20px;
}

p.tratado{
	
	display: inline-block;
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	color: #000;
	position: relative;
	top:-10px;
}

.listado{

padding-top: 10px;
width: 110px;
margin: 0 auto;
margin-top: 6px!important; 
}
img.img-pesquisa{
	margin: 0 auto;
	margin-top: 80px;
	display: block;
}

.resultados{
	min-height: 400px;
	box-shadow: 2px 2px 6px #999999;
	background-color: #fff;
}




/* Novo css*/
.preco{
	display: inline-block;
	
}
.produto{

}
.p-img{
	padding-right: 20px;
}
.um, .dois, .tres, .quatro{
	border-bottom: 1px solid red;
}
.item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover{
	cursor: pointer;
	 box-shadow: 2px 2px 4px 5px #ccc;
}
.est-botao{
	float: right;
	position: relative;
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.esconde{
	display: none;
}
.z{
	margin-top: 30px;
}

.forma{
	color: #000;
	display: block;
	float: right;
	width: 200px;
	font-weight: 600;
	font-size: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-right: 50px;

}
.nimg{
	
	margin-left:70px;
}
.pr{
	padding-top:10px; 
	margin-right: 50px;
}
.mais{
	width: 200px;
	margin-right: 50px;
	margin-top: 14px;
}

.desc{
	
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	max-width: 70%;
	color: #b3b3b3;
	display: block;
}
.pdesc{
	margin-top: 20px;
	font-weight: 700!important;
	font-size: 16px!important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
}
.home{
	position: absolute;
	display: block;
	top: 80px;
	font-weight: 500!important;
	color: #b3b3b3;
}
.home:hover{
	cursor: pointer;
	color: #000066;
	
}









